<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chela+One&family=Piazzolla:wght@900&family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
</head>

<body >
<app-menu-arriba *ngIf="usuarioService.usuario!=null"></app-menu-arriba> 
<router-outlet></router-outlet>
<app-footer></app-footer>
</body>

</html>
​