<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="my-container">
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>

<div class="card">
  <img src="../../../assets/imagenes/image.png" width="93" height="47" class="d-inline-block align-top" alt="">
    <h5 id="register-user">Registrar Usuarios</h5>

    <div class="input-container">		
        <input type="text" required="" [(ngModel)]="nombre" id="nombre"/>
        <label>Nombre</label>
      </div>
      <div class="input-container">		
        <input type="text" required="" [(ngModel)]="apellido1" id="apellido1"/>
        <label>Primer apellido</label>
      </div>
      <div class="input-container">		
        <input type="text" required="" [(ngModel)]="apellido2" id="apellido2"/>
        <label>Segundo apellido</label>
      </div>
      <div class="input-container">
        <input type="date" id="fecha" [(ngModel)]="fecha" required="" >
        <label>Fecha de nacimiento</label>
      </div>
      <div class="input-container">
        <input type="email" [(ngModel)]="email"  id="email" required="" >
        <label>Email</label>
      </div>
      <div class="input-container">
        <input type="text" [(ngModel)]="telefono" id="telefono" required="" >
        <label>Numero de teléfono</label>
      </div>
      <div class="input-container">
        <input type="text" [(ngModel)]="direccion" id="direccion" required="" >
        <label>Dirección</label>
      </div>
      <div class="input-container">		
        <input type="text" required="" [(ngModel)]="dni" id="dni"/>
        <label>DNI</label>
      </div>
      <div class="input-container">		
   
        <p id="seleccionable">Tipo de usuario:</p> 
        <select id="tipoDeUsuario" name="tipoDeUsuario" [(ngModel)]="tipoDeUsuario">
         <option value="">Seleccionar opcion </option>
         <option *ngFor="let opcion of opciones" [value]="opcion" >
             {{opcion}}
         </option>
        </select>

      </div>
    <div class="input-container">
      <input type="text" required=""  id="usuario" [(ngModel)]="usuario"/>
      <label>Nombre de usuario</label>		
    </div>
    <div class="input-container">		
      <input type="password" required="" id="password1" [(ngModel)]="password1" value=""/>
      <label>Contraseña</label>
    </div>
    <div class="input-container">		
        <input type="password" required="" id="password2" [(ngModel)]="password2" value="" />
        <label>Confirmar contraseña</label>
    </div>
    <div class="row2"> 
     
      <div  class="fila3 col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "> <button type="button" class="boton" id="boton" value="boton" (click)="registrar()"><b>Registrar</b> </button></div> 
   </div>
</div>
</div>