<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="my-container">
<div class="card">
  <img src="../../../assets/imagenes/image.png" width="93" height="54" class="d-inline-block align-top" alt="">
    <h1 id="register-user">Registrar Usuarios</h1>
    <!-- <div class="row1"> 
        <div class="fila1 col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "><b>Usuario:   </b><input [(ngModel)]="usuario" class="texto" style="width: 15rem;" type="text" id="usuario"/> </div>
        <div class="fila2 col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "><b>Contraseña:  </b> <input [(ngModel)]="password" style="width: 15rem;" class="texto" type="password" id="password"/> </div>
    </div> -->
    <div class="input-container">		
        <input type="text" required="" id="nombre"/>
        <label>Nombre</label>
      </div>
      <div class="input-container">		
        <input type="text" required="" id="apellidos"/>
        <label>Apellidos</label>
      </div>
      <div class="input-container">		
        <input type="text" required="" id="dni"/>
        <label>DNI</label>
      </div>
      <div class="input-container">		
        <!-- <input type="text" required="" id="tipoDeusuario"/> -->
        <p id="seleccionable">Seleccionar tipo de usuario:</p> 
        <select name="users" id="tipoDeUsuario">
            <!-- <label>Seleccionar tipo de usuario</label> -->
            <option value="">Cliente</option>
            <option value="">Veterinario</option>
        </select>
      </div>
    <div class="input-container">
      <input type="text" required=""  id="usuario"/>
      <label>Nombre de usuario</label>		
    </div>
    <div class="input-container">		
      <input type="password" required="" id="password1" value=""/>
      <label>Contraseña</label>
    </div>
    <div class="input-container">		
        <input type="password" required="" id="password2" value=""/>
        <label>Confirmar contraseña</label>
      </div>
    <div class="row2">      
      <div  class="fila3 col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "> <button type="button" class="boton" id="boton" value="boton"><b>Registrar</b> </button></div> 
</div>
</div>
</div>