
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.min.css">



<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<div class="my-container ">

<div class="card">
  

      <img id="logo" src="../../../assets/imagenes/image.png" width="83" height="54" class="d-inline-block align-top" alt="">
    <h2 id="register-pet">Registrar Mascota</h2>
 
    
    <div class="ng-autocomplete " >
      
      <ng-autocomplete 
        [data]="usuarios"
        [searchKeyword]="keyword"
        (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)'
        [itemTemplate]="itemTemplate"
        [notFoundTemplate]="notFoundTemplate"
        placeHolder = "Seleccione nombre de usuario">  
          
                                     
      </ng-autocomplete>
            
      <ng-template #itemTemplate let-item >
        <a   [innerHTML]="item.nombre_usuario"> </a>
        
      </ng-template>

       
      <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
      </ng-template>
    </div>

      <div class="input-container">	
    
        <input type="text" #nombre id="nombre"/>
        <label>Nombre</label>
      </div>

      <div class="input-container">	
    
        <input type="text" #chip id="chip"/>
        <label>Numero CHIP</label>
      </div>

      <div class="input-container">
        
        <input type="text" #especie id="especie" />
        <label>Especie</label>		
     
    </div>
    <div class="input-container">
   
      <input type="text" #raza id="raza"/>
      <label>Raza</label>		
  
  </div>
  <div class="input-container">	
 
    <input type="date" #fechaNacimiento id="fechaNacimiento"/>
    <label id="date">Fecha de nacimiento</label>
  </div>
    <div class="input-container">	

      <input type="text" #alergias id="alergias"/>
      <label>Alergias</label>
    </div>

    <div class="row">  
      
      <div  class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "> <button (click)="crearMascota(nombre,chip,especie,raza,fechaNacimiento,alergias)" class="boton" id="boton" type="button"><b>Registrar</b></button> </div>
</div>


</div>
</div>



