<body>
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img src="../../../assets/imagenes/vacunas2.jpg">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img src="../../../assets/imagenes/fotousuario.png" class="rounded-circle">
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>{{perfil.nombre_usuario}}</h1>
                                    <!-- <h5> United Vets</h5> -->
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 nuevaClase">
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Nombre:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>{{perfil.nombre}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Apellido:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>{{perfil.apellido1}}  {{perfil.apellido2}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Fecha de Nacimiento:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row  largo">
                                                    <p>{{perfil.fechaNacimiento}}</p>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>NIE:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row  largo">
                                                    <p>{{perfil.dni}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Email:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>{{perfil.email}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Teléfono:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>{{perfil.telefono}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Direccion: </label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>{{perfil.direccion}}</p>
                                                </div>
                                            </div>

                                            <div *ngIf="perfil.rol == 'Cliente'">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <label>Mascotas:</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="row  largo" *ngFor="let mascota of mascotas;">
                                                        <p>{{mascota.nombreM}} <button type="button" class="btn btn-link" (click)="verPerfil(mascota)">Ver perfil</button>
                                                            <!--<p>Lala Araña <button type="button" class="btn btn-link" (click)="verPerfil('lala')">Ver perfil</button>-->
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="btnCerrar" class="col-md-4 img-main-rightPart">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row image-right-part">
                                                <div class="col-md-6 pull-left image-right-detail">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <a href=""  ngIf =""> -->
                                        <div class="col-md-12 image-right">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="../../../assets/imagenes/gatoperfil.webp" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{perfilMascota.nombreM}}</h5>
                                                    <p>Fecha Nacimiento: {{perfilMascota.fechaNacimiento}}</p>
                                                    <p>Alergias: {{perfilMascota.alergias}}</p>                                                   
                                                    <p>Especie: {{perfilMascota.especie}}</p>
                                                    <p>Raza: {{perfilMascota.raza}}</p>
                                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                                    <button id="botonCerrar" (click)="cerrar()"><i id="colorCerrar" class="fas fa-times fa-lg" ngbTooltip="Cerrar"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </a> -->
                                        <div class="col-md-12 image-right-detail-section2">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>