<body>
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img src="../../../assets/imagenes/vacunas2.jpg">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img src="../../../assets/imagenes/fotousuario.png" class="rounded-circle">
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>{{usuarioService.lista[1].nameUser}}</h1>
                                    <!-- <h5> United Vets</h5> -->
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                    <h5></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Nombre:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>{{usuarioService.lista[1].nameUser}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>NIE:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row  largo">
                                                    <p>509230671</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Email:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>nancy@gmail.com</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Teléfono:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>12345678 </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Direccion: </label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p> Av. America 51</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>Mascotas:</label>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="row  largo">
                                                    <p>Pepito Miau <button type="button" class="btn btn-link">Ver perfil</button>
                                                        <p>Lala Araña <button type="button" class="btn btn-link">Ver perfil</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 img-main-rightPart">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row image-right-part">
                                                <div class="col-md-6 pull-left image-right-detail">
                                                    <h5></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <a href=""  ngIf =""> -->
                                        <div class="col-md-12 image-right">
                                            <div class="card" style="width: 18rem;">
                                                <img class="card-img-top" src="../../../assets/imagenes/gatoperfil.webp" alt="Card image cap">
                                                <div class="card-body">
                                                    <h5 class="card-title">Pepito Miau</h5>
                                                    <p>Edad: 12 meses</p>
                                                    <p>Alergias: Apio,Paracetamol</p>
                                                    <p>Historial:</p>
                                                    <p>Gripe el 12/10/2020</p>
                                                    <p>Desparasitación 05/08/20</p>
                                                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- </a> -->
                                        <div class="col-md-12 image-right-detail-section2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>