<p>login principal para logearse</p>
<div>
    <h1>Formulario </h1>
    <div class="row"> 
        <div class=" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "><b>usuario:   </b><input [(ngModel)]="usuario" class="texto" type="text" id="usuario"/> </div>
        <div class=" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "><b>password:  </b> <input [(ngModel)]="password" class="texto" type="text" id="password"/> </div>
    </div>
    <br> <br>
    
    <div class="row">      
      <div  class=" col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "> <button class="boton" type="button"  (click)="enviar()">Iniciar</button></div> 
    <br>
    
</div>