@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.formA{
    padding-top: 10px;
    background-image: linear-gradient(75deg, #b2e8ff 0, #5a7ec9 50%, #15223a 100%);
    width: 95%;
    
  
}
.texto{
    width: 130px;
    padding: 5px;
    margin-right: 7px;
  
}
.title{
    color:white;

}
.espacio{
    margin-top: 5px;
}
.form-control{
   
    margin-bottom: 10px;
    font-size: 13px;
}
.alinear{
    margin:0 auto;

}

.btn{
    padding: 5px;
    border: none;
}
form{
    margin:0 auto;
    width: 90%;
}
i{
    color: white;
}
.btn:hover{
    background-image: linear-gradient(75deg, #b2e8ff 0, #5a7ec9 50%, #15223a 100%);
}

.contenido{
    width: 95%;
    margin:0 auto;
  
}
.datos{
    display: flex;
}

.row{
    margin:0 auto;
    margin-bottom: 5px;
    margin-top: 10px;
}

textarea{
    width: 80%;
    margin:0 auto;
 
    height: 50%;
    padding: 1%; 
}

.botones{
  width: 12%;
margin-top: 10%;

}

.boton_personalizado{
    text-decoration: none;
    
    font-weight: 600;
    font-size: 15px;
    color: #241e1e;
    background-color: #7db3e3;
    border-radius: 15px;
    border: 2px solid #0016b0;
    height: 30px;
    
  }
  .boton_personalizado:hover{
    color: #7db3e3;
    background-color: #1261a7;
  }

  ngb-alert{
      width: 50%;
      margin:0 auto;
      text-align: center;
  }
 

