img{
    height: 60px;
    width: 60px;
}

#margenRol{
    margin-top: 5%;
}

button{
    margin-left:30%;
    margin-top: 5%;
}

li{
    list-style: none;
}

ul{
    float: left;
}

#top{
    margin-top: 5%;
}

#contenedorModal{
   padding: 5%;
  
}

.card{
    font-family: 'Nunito', sans-serif, Black 900 italic;
}

.alinearBoton{
    display: flex;
    margin-left: 20px;
}

i{
   color:white;
   
}

ngb-alert{
    width: 100%;
}

.alerta{
  width: 70%;
  margin:0 auto;
}