<div class="row " id="top">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 "></div>
    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
      <form class="form-inline ">
        <input class="form-control mr-sm-2 " type="search" placeholder="Buscar cliente" aria-label="Buscar">
        <button class="btn  btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 "></div>
  </div>


  <div class="row" id="top">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    </div>
  
    <div class="card" style="width: 58rem;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre del cliente</th>
                    <th scope="col">Mascota</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Historiales</th>
  
  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of citas">
                    <td>{{cita.nombre}}</td>
                    <td>{{cita.codigoCita}}</td>
                    <td>{{cita.fechaCita}}</td>
                    <td><button ngbTooltip="Ver historial" class="btn" (click)="verHistorial()" type="button"><mdb-icon fas icon="id-card fa-3x " id="colorIcono" ></mdb-icon></button></td>
                </tr>
            </tbody>
        </table>
    </div>
  
  </div>
